body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.navbar {
	flex: 1;
	padding: 10px;
	background-color: rgb(10, 10, 10);
	color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar .title {
	font-size: 24px;
	padding-left: 10px;
	font-weight: 700;
}

.navbar b {
	font-size: 48px;
	font-weight: 900;
}

.content {
	flex: 1;
	padding: 30px;
}

.section {
	border: 1px solid rgb(252, 252, 252);
	background-color: rgb(252, 252, 252);
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-title {
	border-bottom: 1px solid rgba(100, 100, 111, 0.2);
}

.section-content {
	padding-top: 30px;
	font-weight: 300;
	display: flex;
  	flex-wrap: wrap;
}

.section-content label {
	font-size: 14px;
	color:rgba(100, 100, 111);
}
			
.section-content input {
	border: 1px solid rgba(100, 100, 111, 0.2);
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.section-content input::file-selector-button {
	border: 1px solid rgba(100, 100, 111, 0.2);
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.section-content button {
	border: 1px solid rgba(100, 100, 111, 0.2);
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}